name: CI

on:
  push:
    branches:
      - dev-Boris
  pull_request:
    branches:
      - dev-Boris

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install Prettier globally
        run: npm install -g prettier

      - name: Prettify code
        run: prettier --write "**/*.{js,jsx,ts,tsx,md}"

eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: stefanoeb/eslint-action@1.0.2
        with:
          files: src/

  htmlproofer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"

      - name: Install HTMLProofer
        run: gem install html-proofer

      - name: Check HTML
        run: htmlproofer ./ --allow-missing-href
